<!DOCTYPE html>
<html>
  <head>
    <title>Daty: Kết Nối - Chia Sẻ - Yêu Thương</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="shortcut icon" type="image/png" href="../images/logo_daty.png"/>

  </head>
  <body>
    {{{body}}}

  </body>
</html>
